# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

*.log
package-lock.json
.turbo/
.eslintcache
.pnpm-store

# ignore top-level vscode settings
/.vscode/settings.json

# do not commit .env files or any files that end with `.env`
*.env

# macOS-specific files
.DS_Store

# exclude IntelliJ/WebStorm stuff
.idea