---
import TestCard from "../components/TestCard.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="sm:bg-slate-500 md:bg-slate-800">
    <div class="text-2xl text-white sm:text-green-200 lg:text-green-500">
      <h2>Hello World</h2>
      <TestCard />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
